@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ipg08p');
	src:url('../fonts/icomoon.eot?#iefixipg08p') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ipg08p') format('woff'),
		url('../fonts/icomoon.ttf?ipg08p') format('truetype'),
		url('../fonts/icomoon.svg?ipg08p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account-circle:before {
	content: "\e600";
}
.icon-assignment:before {
	content: "\e601";
}
.icon-assignment-returned:before {
	content: "\e602";
}
.icon-done:before {
	content: "\e603";
}
.icon-exit-to-app:before {
	content: "\e604";
}
.icon-explore:before {
	content: "\e605";
}
.icon-help:before {
	content: "\e606";
}
.icon-list:before {
	content: "\e607";
}
.icon-lock-open:before {
	content: "\e608";
}
.icon-question-answer:before {
	content: "\e609";
}
.icon-trending-neutral:before {
	content: "\e60a";
}
.icon-trending-up:before {
	content: "\e60b";
}
.icon-my-library-books:before {
	content: "\e60c";
}
.icon-repeat:before {
	content: "\e60d";
}
.icon-call-made:before {
	content: "\e60e";
}
.icon-call-received:before {
	content: "\e60f";
}
.icon-email:before {
	content: "\e610";
}
.icon-message:before {
	content: "\e611";
}
.icon-messenger:before {
	content: "\e612";
}
.icon-add:before {
	content: "\e613";
}
.icon-clear:before {
	content: "\e614";
}
.icon-content-paste:before {
	content: "\e615";
}
.icon-create:before {
	content: "\e616";
}
.icon-flag:before {
	content: "\e617";
}
.icon-remove:before {
	content: "\e618";
}
.icon-brightness-high:before {
	content: "\e619";
}
.icon-insert-emoticon:before {
	content: "\e61a";
}
.icon-vertical-align-bottom:before {
	content: "\e61b";
}
.icon-vertical-align-top:before {
	content: "\e61c";
}
.icon-cloud-upload:before {
	content: "\e61d";
}
.icon-headset:before {
	content: "\e61e";
}
.icon-keyboard-arrow-down:before {
	content: "\e61f";
}
.icon-keyboard-arrow-left:before {
	content: "\e620";
}
.icon-keyboard-arrow-right:before {
	content: "\e621";
}
.icon-keyboard-arrow-up:before {
	content: "\e622";
}
.icon-keyboard-backspace:before {
	content: "\e623";
}
.icon-beenhere:before {
	content: "\e624";
}
.icon-local-florist:before {
	content: "\e625";
}
.icon-local-library:before {
	content: "\e626";
}
.icon-local-play:before {
	content: "\e627";
}
.icon-location-history:before {
	content: "\e628";
}
.icon-rate-review:before {
	content: "\e629";
}
.icon-apps:before {
	content: "\e62a";
}
.icon-arrow-back:before {
	content: "\e62b";
}
.icon-arrow-drop-down:before {
	content: "\e62c";
}
.icon-arrow-drop-up:before {
	content: "\e62d";
}
.icon-arrow-forward:before {
	content: "\e62e";
}
.icon-check:before {
	content: "\e62f";
}
.icon-chevron-left:before {
	content: "\e630";
}
.icon-chevron-right:before {
	content: "\e631";
}
.icon-close:before {
	content: "\e632";
}
.icon-expand-less:before {
	content: "\e633";
}
.icon-expand-more:before {
	content: "\e634";
}
.icon-menu:before {
	content: "\e635";
}
.icon-refresh:before {
	content: "\e636";
}
.icon-do-not-disturb:before {
	content: "\e637";
}
.icon-event-available:before {
	content: "\e638";
}
.icon-event-note:before {
	content: "\e639";
}
.icon-sms:before {
	content: "\e63a";
}
.icon-notifications-none:before {
	content: "\e63b";
}
.icon-people-outline:before {
	content: "\e63c";
}
.icon-person-outline:before {
	content: "\e63d";
}
.icon-share:before {
	content: "\e63e";
}
.icon-whatshot:before {
	content: "\e63f";
}
.icon-star-outline:before {
	content: "\e640";
}
