.crumbs{ padding:10px; border-bottom:1px dashed #ccc; }
.crumbs a{ color:#999; }
.crumbs-list{ padding:10px; }
.crumbs-list a{padding:0 5px;display: inline-block; margin-right: 30px;line-height:26px;color:#666;}
.crumbs-list a:hover{background:#0C9C92;color:#fff;text-decoration:none;}
.crumbs i{ display: inline-block; margin:0 10px; }