//
// Grid system
// --------------------------------------------------

.span1 { width: 10px; }

.span2 { width: 20px; }

.span3 { width: 30px; }

.span4 { width: 40px; }

.span5 { width: 50px; }

.span6 { width: 60px; }

.span7 { width: 70px; }

.span8 { width: 80px; }

.span9 { width: 90px; }

.span10 { width: 100px; }

.span11 { width: 110px; }

.span12 { width: 120px; }

.span13 { width: 130px; }

.span14 { width: 140px; }

.span15 { width: 150px; }

.span16 { width: 160px; }

.span17 { width: 170px; }

.span18 { width: 180px; }

.span19 { width: 190px; }

.span20 { width: 200px; }

.span21 { width: 210px; }

.span22 { width: 220px; }

.span23 { width: 230px; }

.span24 { width: 240px; }

.span25 { width: 250px; }

.span26 { width: 260px; }

.span27 { width: 270px; }

.span28 { width: 280px; }

.span29 { width: 290px; }

.span30 { width: 300px; }

.span31 { width: 310px; }

.span32 { width: 320px; }

.span33 { width: 330px; }

.span34 { width: 340px; }

.span35 { width: 350px; }

.span36 { width: 360px; }

.span37 { width: 370px; }

.span38 { width: 380px; }

.span39 { width: 390px; }

.span40 { width: 400px; }

.span41 { width: 410px; }

.span42 { width: 420px; }

.span43 { width: 430px; }

.span44 { width: 440px; }

.span45 { width: 450px; }

.span46 { width: 460px; }

.span47 { width: 470px; }

.span48 { width: 480px; }

.span49 { width: 490px; }

.span50 { width: 500px; }

.all1{ width:1%; }
.all2{ width:2%; }
.all3{ width:3%; }
.all4{ width:4%; }
.all5{ width:5%; }
.all6{ width:6%; }
.all7{ width:7%; }
.all8{ width:8%; }
.all9{ width:9%; }
.all10{ width:10%; }
.all11{ width:11%; }
.all12{ width:12%; }
.all13{ width:13%; }
.all14{ width:14%; }
.all15{ width:15%; }
.all16{ width:16%; }
.all18{ width:18%; }
.all19{ width:19%; }
.all30{ width:30%; }
.all31{ width:31%; }
.all32{ width:32%; }
.all33{ width:33%; }
.all34{ width:34%; }
.all35{ width:35%; }
.all36{ width:36%; }
.all37{ width:37%; }
.all38{ width:38%; }
.all39{ width:39%; }
.all40{ width:40%; }
.all41{ width:41%; }
.all42{ width:42%; }
.all43{ width:43%; }
.all44{ width:44%; }
.all45{ width:45%; }
.all46{ width:46%; }
.all47{ width:47%; }
.all48{ width:48%; }
.all49{ width:49%; }
.all50{ width:50%; }
.all{ width:100%; }





